video {
    border-radius: 10px;
}

.vidsContainer {
    display: flex;
}

.myVideo, .userVideo {
    display: grid;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    width: fit-content;
}

@media (max-width: 800px) {
    .vidsContainer {
        flex-direction: column;
    }
    .myVideo, .userVideo {
        flex: 100%;
    }
}