video {
    border-radius: 10px;
    width: inherit;
}

.vidsContainer {
    display: flex;
    flex-direction: column;
}

.myVideo, .userVideo {
    display: grid;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}

.myVideo {
    width: 90%;
}

.userVideo {
    width: 99%;
}