.main {
    display: flex;
}

.left {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    flex: 70%;
}
  

@media (max-width: 800px) {
    .main {
        flex-direction: column;
    }
    .right, .left {
        flex: 100%;
    }
}