@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

:root {
    --foreground-color: #000000;
    --background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ffffff;
        --background-color: #000000;
    }
}

body {
    color: var(--foreground-color);
    background: var(--background-color);
    height: 100dvh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.overflow-guard {
    border-radius: 10px;
}