@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #eeeeee;
    font-size: large;
    font-family: 'Outfit', sans-serif;
}

button {
    background-color: #00adb5;
    color: white;
    border-color: #00adb5;
    border-radius: 0px 10px 10px 0px;
    width: 50px;
    height: 50px;
}

img {
    height: 15px;
}

button:hover {
    background-color: #00acb5d3;
}

input {
    background-color: #000;
    color: #eeeeee;
    height: 50px;
    width: 75%;
    border-radius: 10px 0px 0px 10px;
    border-color: #000;
    margin-top: 2px;
}

textarea {
    background-color: #000;
    border-radius: 10px;
    color: #fff;
}

select {
    background-color: #000;
    color: #eee;
    height: 50px;
    width: 200px;
    font-size: larger;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
    border-color: #00adb5;
}