.compiler {
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 10px;

}

.fields {
    width: 100%;
}

textarea {
    width: 100%;
    height: fit-content;
    font-size: larger;
}

#source {
    height: 500px;
}

#input {
    height: 50px;
}

#output {
    height: 100px;
}